<h1>{{title}} </h1>
<form action="/api/units" method="POST">
  <div>
    <label for="name" >Name</label>
    <input type="text" name="name" >
  </div>
  <div>
    <label for="email" >Email</label>
    <input type="email" email="email" >

  </div>
  <input type="submit" value="add unit ">
</form>
<h4>units</h4>
<ul>
  {{#each units}}
  <li>{{this.name}}:{{this.email}}</li>
  {{/each}}
</ul>

<a href="/api/units" class="">Visit Api</a>