* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  /* background: #000 url("img/cool-background.png") center center/cover; */
  background-color: #dcd9d4;
  background-image: linear-gradient(
    to top,
    #dad4ec 0%,
    #dad4ec 1%,
    #f3e7e9 100%
  );

  height: 100vh;
}

header {
  height: 200px;
}
/* .bodyPaddingTop {
  padding-top: 144px;
} */

.right-arrow {
  /* position: fixed; */
  top: 50%;
  /* right: 520px; */
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  /* position: fixed; */
  top: 50%;
  /* left: 520px; */
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.slide {
  opacity: 1;
  transition-duration: 1s ease;
}
.slideThumbnail {
  transition-duration: 1s ease;
  opacity: 0.7;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}
.slideThumbnail.active {
  /* border: tomato solid 2px; */
  padding: 2px;
  /* border-radius: 2px; */
  opacity: 1;
}

.search-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #2f3640;
  height: 60px;
  border-radius: 40px;
  padding: 10px;
}
.search-box:hover > .search-txt {
  width: 240px;
  padding: 0 6px;
}
.search-box:hover > .search-btn {
  background: white;
  color: black;
}

.search-btn {
  color: green;
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #2f3640;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-btn > .svg {
  font-size: 40px;
}

.search-txt {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: white;
  font-size: 20px;
  transition: 0.4s;
  line-height: 40px;
  width: 0px;
}

label {
  position: relative;
}

label:before {
  content: "";
  position: absolute;
  left: 10px;
  top: 0;
  bottom: 0;
  width: 20px;
  /* background: url('<svg class="w-6h-6" fill="currentColor" viewBox="002020" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M84a4401008440000-8zm28a6601110.893.476l4.8174.817a11001-1.4141.414l-4.816-4.816a6600128z" clip-rule="evenodd"></path></svg>')
    center / contain no-repeat; */
}

input {
  padding: 10px 30px;
}
