* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  /* background: #000 url("img/bg.jpg") no-repeat center center/cover; */
  background: white;
  height: 100vh;
}

header {
  height: 200px;
}
/* .bodyPaddingTop {
  padding-top: 144px;
} */

.slider {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-arrow {
  position: absolute;
  top: 50%;
  right: 32px;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: 32px;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}
